@import '~antd/lib/style/themes/default.less';

.stepForm {
  margin: 40px auto 0;
  max-width: 500px;
}

.stepFormText {
  margin-bottom: 24px;
  :global {
    .ant-form-item-label,
    .ant-form-item-control {
      line-height: 22px;
    }
  }
}

.result {
  margin: 0 auto;
  max-width: 560px;
  padding: 24px 0 8px;
}

.wrapper {
  margin-top: 50px;
}

.thumbnails {
  display: flex;
}

.thumbnail {
  margin-right: 10px;
  cursor: pointer;
}

.download {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;

  .name {
    padding: 5px 10px 0 10px;
    background-color: #ccc;
    margin-right: 20px;
  }
}

.verify {
  display: flex;
  margin-left: 50px;

  .fall {
    background-color: #f00;
    margin-right: 30px;
    border: none;
  }

  button {
    margin-top: 5px;
  }
}
